html { background: Silver; 
	   border: 7px solid black;

}

h1 { border: 5px solid black;
	 width:  300px; 
	 padding: 10px;
	 border-radius: 5px;
	 -webkit-box-shadow: inset 18px 4px 43px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: inset 18px 4px 43px 0px rgba(0,0,0,0.75);
      box-shadow: inset 18px 4px 43px 0px rgba(0,0,0,0.75);
  }

form { border: 3px solid black;
	   width:  150px; 
	   padding: 10px;
	   border-radius: 5px;
	   -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);

 }

 