html {
	font-family: <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">;
    font-size: 24px;
}

div {
	border: 8px solid;                                                   
    padding: 10px;
    width: 250px;
    text-align: center; 
    border-radius: 10px;
    -webkit-box-shadow: 42px 2px 72px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 42px 2px 72px 0px rgba(0,0,0,0.75);
    box-shadow: 42px 2px 72px 0px rgba(0,0,0,0.75);
    
}

p.feature {
          border: 3px solid;
          padding: 10px;
          width: 200px;
          margin: 0 auto;
          text-align: left;
          border-radius: 5px;
          -webkit-box-shadow: 6px -2px 138px 16px rgba(69,15,247,0.54);
          -moz-box-shadow: 6px -2px 138px 16px rgba(69,15,247,0.54);
           box-shadow: 6px -2px 138px 16px rgba(69,15,247,0.54);
}

footer {
       border: 3px solid;
       padding: 10px;
       width: 150px;
       text-align: center;
       border-radius: 15px;
       -webkit-box-shadow: -1px 28px 132px -3px rgba(245,17,17,1);
       -moz-box-shadow: -1px 28px 132px -3px rgba(245,17,17,1);
        box-shadow: -1px 28px 132px -3px rgba(245,17,17,1);
}